* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.title {
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    margin: 50px 0 20px;
}
.line {
    width: 20%;
    height: 3px;
    background-color: black;
    margin: 0 auto 30px;
}

.galleryOne {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 300px;
    grid-auto-flow: dense;
    grid-gap: 15px;
    justify-content: center;
    @media (max-width: 619px) {
        grid-template-columns: 1fr 1fr;
    }
}
.tall {
  grid-row: span 2;
}
.wide {
  grid-column: span 2;
}

.gallery_item {
    
    // height: 200px;
    overflow: hidden;
    object-fit: cover;
    // position: relative;

    & img {
        display: block;
            width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    transition: 1s;
       &:hover {
           transform: scale(1.3) rotate(5deg);
           cursor: pointer;
           filter: grayscale(1);
           filter: blur(3px);
           
       }
    }
}

.back_main {
    list-style: none;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 12;
        & li {
            & a {
                text-decoration: none;
                font-weight: 700;
                font-size: 30px;
                color: #EBF3FB;
                text-shadow: 1px 1px 7px rgb(66, 70, 72);
                }
                      &:hover {
                      transform: scale(1.1);
  

}
}



}
.in_top {
    position: fixed;
bottom: 20px;
    left: 20px;
    z-index: 12;
& > a {
  text-decoration: none;
  font-weight: 700;
  font-size: 30px;
  color: #EBF3FB;
  text-shadow: 1px 1px 7px rgb(66, 70, 72);

}
&:hover {
  transform: scale(1.1);
  
}
}
